*{
    margin: 0;padding: 0;box-sizing: border-box;
}
html,body{
    width: 100%; height: 100%; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;
}
.box{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}
.box:hover{
    anchor-name: --some-anchor;
}
.anchor{
    background-color: rgba(18, 3, 3, 0.433);
    border: 1px solid;
    position: absolute;
    position-anchor: --some-anchor;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    transition: all 0.2s linear;
    border-radius: 10px;
    mix-blend-mode: difference;
}